# Watcom / DOS build artifacts
*.obj
*.o
v
*.exe
*.map
*.err
*.lst
*.sym
*.COM
*.INI
*.FNT
*.LIB
*.PIC
*.PDF
*.fpu_fix

legacy/
*.pdf
*.LOG
*.OVL
*.RLE
*.rle 
*.PCX
*.pcx
*.OUT
videos/
capture/
s/
test/
DOS/*.C 
DOS/*.H
DOS/*.OBJ
DOS/*.EXE
DOS/*.LNK
DOS/*.TXT
DOS/WC 

# Editors / OS
.DS_Store
*.swp
*.swo
*.mov
*.s
.vscode/
.idea/
logs/
patch/
tools/

# build dir
build/
disasm/
disasm
WD/
WD
